In [35]:
import pandas as pd

In [36]:
# Lets create a recommendation dataframe for the GPT model
# [ ] - it should be mergeable with the ingredients dataframe
# [ ] -  it should contain the add on and the vegeterain average of each of the ingredients

In [37]:
recipes = pd.read_csv('recipes_3.csv')
ingredients_df = pd.read_csv('ingredients_df.csv')
pantry = pd.read_csv('pantry_2.csv')
# lets go to the download folder and import the ingredients_3.csv file
conversion = pd.read_csv('conversion.csv')

In [38]:
pantry

,urls,amounts,units,ingredients,purchase_unit,spice,price,purchase_size,local_price,pareto,in_recipe,matches
0,https://www.valdemarsro.dk/indisk-vegetar-bowl/,1.0,spsk,mayonnaise,g,0.0,40.0,350.0,40.0,True,0,0.173913
1,https://www.valdemarsro.dk/indisk-vegetar-bowl/,1.0,stk,æg,stk,0.0,36.0,10.0,36.0,True,1,0.173913
2,https://www.valdemarsro.dk/indisk-vegetar-bowl/,0.5,tsk,røget paprika,stk,1.0,0.0,1.0,0.0,True,0,0.173913
3,https://www.valdemarsro.dk/indisk-vegetar-bowl/,250.0,g,blomkål,stk,0.0,30.0,1.0,30.0,True,0,0.173913
4,https://www.valdemarsro.dk/indisk-vegetar-bowl/,50.0,g,pankorasp,NaN,NaN,NaN,NaN,0.0,False,0,0.173913
...,...,...,...,...,...,...,...,...,...,...,...,...
27052,Kikærte og avocado salat med persille og tomat,50,g,bredbladet persille,NaN,0.0,0.0,0.0,0.0,0,0,0.000000
27053,Kikærte og avocado salat med persille og tomat,1/2,stk,rød chili,NaN,0.0,0.0,0.0,0.0,0,0,0.000000
27054,Kikærte og avocado salat med persille og tomat,2,fed,hvidløg,NaN,0.0,0.0,0.0,0.0,0,0,0.000000
27055,Kikærte og avocado salat med persille og tomat,1/2,stk,citron,NaN,0.0,0.0,0.0,0.0,0,0,0.000000
27056,Kikærte og avocado salat med persille og tomat,50,ml,olivenolie,NaN,0.0,0.0,0.0,0.0,0,0,0.000000

In [20]:
ingredients_df[ingredients_df.ingredients.str.contains('grøn')]

,ingredients,pareto,purchase_unit,type,price,purchase_size,count
153,grønkål,True,g,0.0,20.0,300.0,21
201,grønne asparges,True,g,0.0,35.0,250.0,13
213,grøn salat,True,g,0.0,20.0,200.0,12
322,håndfulde grøn salat,False,NaN,NaN,NaN,NaN,6
387,grønne bønner,False,NaN,NaN,NaN,NaN,4
420,grønne linser,False,NaN,NaN,NaN,NaN,4
449,pakke grønne asparges,False,NaN,NaN,NaN,NaN,3
454,grøn peberfrugt,False,NaN,NaN,NaN,NaN,3
479,grønne vindruer,False,NaN,NaN,NaN,NaN,3
571,bakke grønne vindruer,False,NaN,NaN,NaN,NaN,2
572,grønne oliven,False,NaN,NaN,NaN,NaN,2
609,håndfulde grønkål,False,NaN,NaN,NaN,NaN,2
618,grøn karrypasta,True,g,1.0,NaN,NaN,1
619,stængel grønkål,False,NaN,NaN,NaN,NaN,1
668,grøn fondant,False,NaN,NaN,NaN,NaN,1
712,pakker grønne asparges,False,NaN,NaN,NaN,NaN,1

In [43]:
# lets see if we can find all the versions smør is in in the panty
ingredient = 'grøn salat'
measurement = ingredients_df.loc[ingredients_df['ingredients'] == 'smør', 'purchase_unit'].values[0]

# lets see if we can find all the versions smør is in in the pantry
grouped = pantry[(pantry.ingredients == ingredient) & (pantry.units != measurement)].groupby(['amounts', 'units']).count().reset_index()
grouped

,amounts,units,urls,ingredients,purchase_unit,spice,price,purchase_size,local_price,pareto,in_recipe,matches
0,0.5,håndfuld,2,2,0,0,0,0,2,2,2,2

In [52]:
grouped

,amounts,units,urls,ingredients,purchase_unit,spice,price,purchase_size,local_price,pareto,in_recipe,matches
0,100.0,g,2,2,0,0,0,0,2,2,2,2
1,62.5,g,1,1,0,0,0,0,1,1,1,1

In [55]:
def mean_getter(ingredient = ingredient, measurement = measurement, prefered_list = salads):
    grouped             = pantry[(pantry.ingredients == ingredient)
                                  & (pantry.units == measurement)
                                  & (pantry.urls.isin(prefered_list))].groupby(['amounts', 'units']).count().reset_index()

    grouped.amounts     = grouped.amounts.astype(float)
    grouped.units       = grouped.units.astype(str)
    grouped.amounts     = grouped.amounts * grouped.urls
    average             = grouped.amounts.sum() / grouped.urls.sum()
    return average

mean_getter()

87.5

In [60]:
recipes

,urls,text,fullfillment,dinner,addon,vegeterian,price_add,matches
0,https://www.valdemarsro.dk/indisk-vegetar-bowl/,Indisk vegetarbowl med rispilaf og sprød blomk...,0.0,1,0,1,7714.0,0.434783
1,https://www.valdemarsro.dk/pasta-med-graeskar/,Pasta med græskar og masser af god smag - opsk...,0.0,1,0,1,6415.0,0.363636
2,https://www.valdemarsro.dk/blomkaal-og-halloum...,Blomkål og halloumi i sursød sauce med dejlig ...,0.0,1,0,1,6278.0,0.250000
3,https://www.valdemarsro.dk/graeskarmuffins/,Græskarmuffins - opskrift på saftige muffins m...,0.0,0,0,0,5100.0,0.200000
4,https://www.valdemarsro.dk/vegetar-taco/,Vegetar taco med krydret bagt blomkål og mango...,0.0,1,0,1,4967.0,0.250000
...,...,...,...,...,...,...,...,...
3255,Kikærte og mango curry med basmati ris,Navn: Kikærte og mango curry med basmati ris\n...,0.0,0,0,0,0.0,0.000000
3256,Kikærte- og kyllingefad med avocado og cherryt...,Navn: Kikærte- og kyllingefad med avocado og c...,0.0,0,0,0,0.0,0.000000
3257,Persille-ris med kikærter og yoghurt-dressing,Navn: Persille-ris med kikærter og yoghurt-dre...,0.0,0,0,0,0.0,0.000000
3258,Avocado og kikærte tacos,Navn: Avocado og kikærte tacos\n\nIngredienser...,0.0,0,0,0,0.0,0.000000
3259,Kikærte og avocado salat med persille og tomat,Navn: Kikærte og avocado salat med persille og...,0.0,0,0,0,0.0,0.000000

In [ ]:
salads = recipes[recipes.vegeterian == True].copy()
salads = salads.urls.tolist()

for ingredient in ingredients_df[ingredients_df.purchase_unit.notna()].ingredients:
    measurement = ingredients_df.loc[ingredients_df['ingredients'] == ingredient, 'purchase_unit'].values[0]
    average = mean_getter(ingredient = ingredient, measurement = measurement, prefered_list=veggie)
    ingredients_df.loc[ingredients_df['ingredients'] == ingredient, 'veggie_average'] = average

veggie = recipes[recipes.vegeterian == True].copy()
veggie = veggie.urls.tolist()

for ingredient in ingredients_df[ingredients_df.purchase_unit.notna()].ingredients:
    measurement = ingredients_df.loc[ingredients_df['ingredients'] == ingredient, 'purchase_unit'].values[0]
    average = mean_getter(ingredient = ingredient, measurement = measurement, prefered_list=veggie)
    ingredients_df.loc[ingredients_df['ingredients'] == ingredient, 'veggie_average'] = average

In [65]:
ingredients_df.to_csv('ingredients_df.csv', index=False)